.agregar_producto{
    background-color: #f2dfdffc;
}

.agregar_producto_contenedor{
    padding: 1rem;
}

@media screen and (min-width: 1241px) {

    .agregar_producto_contenedor{
        text-align: center;
    }

    .input{
        width: 50%;
    }

    .quienes_somos_contacto_nombre{
        width: 90%;
    }

    .quienes_somos_contacto_mensaje{
        width: 90%;
    }
}